/*
    colorbox2 Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox2, #cbox2Overlay, #cbox2Wrapper{position:absolute; top:0; left:0; z-index:99999; overflow:hidden;}
#cbox2Overlay{position:fixed; width:100%; height:100%;}
#cbox2MiddleLeft, #cbox2BottomLeft{clear:left;}
#cbox2Content{position:relative;}
#cbox2LoadedContent{overflow:auto;}
#cbox2Title{margin:0;}
#cbox2LoadingOverlay, #cbox2LoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cbox2Previous, #cbox2Next, #cbox2Close, #cbox2Slideshow{cursor:pointer;}
.cbox2Photo{float:left; margin:auto; border:0; display:block;}
.cbox2Iframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of colorbox2.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cbox2Overlay{background:url(../images/overlay.png) repeat 0 0;}
#colorbox2{}
    #cbox2TopLeft{width:14px; height:14px; background:url(../images/controls.png) no-repeat -102px 0;}
    #cbox2TopRight{width:14px; height:14px; background:url(../images/controls.png) no-repeat -137px 0;}
    #cbox2BottomLeft{width:14px; height:14px; background:url(../images/controls.png) no-repeat -102px -37px;}
    #cbox2BottomRight{width:14px; height:14px; background:url(../images/controls.png) no-repeat -137px -37px;}
    #cbox2MiddleLeft{width:14px; background:url(../images/controls.png) left top repeat-y;}
    #cbox2MiddleRight{width:14px; background:url(../images/controls.png) right top repeat-y;}
    #cbox2TopCenter{height:14px; background:url(../images/border.png) 0 0 repeat-x;}
    #cbox2BottomCenter{height:14px; background:url(../images/border.png) 0 -37px repeat-x;}
    #cbox2Content{background:#fff; overflow:hidden;}
        .cbox2Iframe{background:#fff;}
        #cbox2Error{padding:50px; border:1px solid #ccc;}
        #cbox2LoadedContent{margin-top:40px;}
        #cbox2Title{position:absolute; top:0px; left:0; text-align:center; width:100%; color:white; height:40px; line-height:40px;
	        background: #3cacd2; /* for non-css3 browsers */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3cacd2', endColorstr='#2474b4'); /* for IE */
			background: -webkit-linear-gradient(top, #3cacd2, #2474b4);
			background: -moz-linear-gradient(top,  #3cacd2,  #2474b4); /* for firefox 3.6+ */
	        border-top:#9fd7e9;}
        #cbox2Current{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cbox2Slideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cbox2Previous{position:absolute; bottom:0; left:0; background:url(../images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cbox2Previous:hover{background-position:-75px -25px;}
        #cbox2Next{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cbox2Next:hover{background-position:-50px -25px; top:0px;}
        #cbox2LoadingOverlay{background:transparent;/*url(../images/loading_background.png) no-repeat center center;*/}
        #cbox2LoadingGraphic{background:url(../images/progress_small.gif) no-repeat center center;}
        #cbox2Close{position:absolute; bottom:0; right:4px; background:url(../images/pieces/x.png) no-repeat 0px 0; width:25px; height:25px; text-indent:-9999px;top:14px;}
        #cbox2Close:hover{}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cbox2IE #cbox2TopLeft,
.cbox2IE #cbox2TopCenter,
.cbox2IE #cbox2TopRight,
.cbox2IE #cbox2BottomLeft,
.cbox2IE #cbox2BottomCenter,
.cbox2IE #cbox2BottomRight,
.cbox2IE #cbox2MiddleLeft,
.cbox2IE #cbox2MiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cbox2IE6 #cbox2TopLeft{background:url(../images/ie6/borderTopLeft.png);}
.cbox2IE6 #cbox2TopCenter{background:url(../images/ie6/borderTopCenter.png);}
.cbox2IE6 #cbox2TopRight{background:url(../images/ie6/borderTopRight.png);}
.cbox2IE6 #cbox2BottomLeft{background:url(../images/ie6/borderBottomLeft.png);}
.cbox2IE6 #cbox2BottomCenter{background:url(../images/ie6/borderBottomCenter.png);}
.cbox2IE6 #cbox2BottomRight{background:url(../images/ie6/borderBottomRight.png);}
.cbox2IE6 #cbox2MiddleLeft{background:url(../images/ie6/borderMiddleLeft.png);}
.cbox2IE6 #cbox2MiddleRight{background:url(../images/ie6/borderMiddleRight.png);}

.cbox2IE6 #cbox2TopLeft,
.cbox2IE6 #cbox2TopCenter,
.cbox2IE6 #cbox2TopRight,
.cbox2IE6 #cbox2BottomLeft,
.cbox2IE6 #cbox2BottomCenter,
.cbox2IE6 #cbox2BottomRight,
.cbox2IE6 #cbox2MiddleLeft,
.cbox2IE6 #cbox2MiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
