html {
	background:url(../images/backgrounds/course.png)no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family: Quicksand, Helvetica, Arial, sans-serif;
}
html, body, div, input, h1, h2, h3, h4, h5, h6, p, span, form, textarea {
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
   letter-spacing:1px;
}
body {
    font-family: Quicksand, Helvetica, Arial, sans-serif;
    font-weight:lighter;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
}
#chrome_message {
	vertical-align: middle;
	line-height: 50px;
	text-align: center;
	margin-bottom: -150px;
	margin-top: 100px;
	height: 50px;
}
#chrome_message img {
	margin-top:-13px;
}
#chrome_message a {
	color:#757575;
	text-decoration:none;
}
td {
    border: medium none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
#container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    position: relative;
    width: 320px;
}
#top {
    /*background-image: url("../images/login/login.png");*/
    background-position: 0 0;
    height: 120px;
	text-align: center;
}
#top img
{
	position: relative;
	top: 45px;
}
#middle {
	background:url(../images/backgrounds/bg.png);
	padding: 5px;
	box-shadow: 0px 0px 0px 2px black, 0px 5px 10px -4px black;
	border-radius: 4px;
	border-top:1px solid #606060;
}
#form_field_username, #form_field_password, #form_field_password_confirm, #form_field_first_name, #form_field_last_name,
#form_field_email, #form_field_phone_number{
    height: 50px;
    background:white;
}
#form_field_password {
	box-shadow:0px 1px 0px 0px #CDCDCD, 0px 3px 0px -1px white, 0px 4px 0px -1px #CDCDCD, 
		0px 7px 0px -3px white, 0px 8px 0px -3px #CDCDCD, 0px 12px 0px -5px white, 0px 13px 10px -5px black;
}
#form_field_username {
	border-bottom:#ccc 1px solid;
	box-shadow:inset 2px 5px 14px -7px black;
}
#login_form {
}
#bottom {
    background-position: left bottom;
    color: #FFFFFF;
    font-size: 0.7em;
    font-weight: normal;
    width: 320px;
    padding-top:10px;
}
#bottom td{
    height: 30px;
    padding: 3px 20px 0;
    vertical-align: top;
}
#bottom a{
	color:#5792b4;
	text-decoration:none;
	font-size:13px;
}
#bottom a:hover{
	color:#fff;
}
#bottom #left{
	text-align:left;
}
#bottom #right{
	text-align:right;
}
#welcome_message {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}
.form_field_label {
    /*background-image: url("../images/login/login.png");
    background-position: left -140px;*/
    color: #555555;
    padding-left: 20px;
    width: 90px;
}
.login_header {
	background: url(../images/backgrounds/top_bar_bg.png) no-repeat;
	height: 37px;
	line-height:37px;
	padding: 0px 15px;
	color: white;
	text-shadow: -2px -2px 0px black;
}
.username_icon {
	background: url(../images/icons/icons.png) -10px -250px;
	height: 20px;
	width: 20px;
	display: block;
	margin:16px 0px 0px 10px;
	float:left;
}
.password_icon {
	background: url(../images/icons/icons.png) -50px -250px;
	height: 20px;
	width: 20px;
	display: block;
	margin:16px 0px 0px 10px;
	float:left;
}
.form_field {
    /*background-image: url("../images/login/login.png");
    background-position: right -140px;8*/
    padding-left: 10px;
    width: 280px;
}
#submit_button {
	margin-top:16px;
}
#submit_button input {
	background: #349ac5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background: -webkit-linear-gradient(top, #349AC5, #4173B3);
	background: -moz-linear-gradient(top,  #349AC5,  #4173B3); /* for firefox 3.6+ */
	color: white;
	display: block;
	font-size: 14px;
	font-weight: lighter;
	height: 30px;
	line-height:25px;
	width: 100%;
	margin:12px 0px 0px;
	text-align: center;
	text-shadow: -1px -2px 0px black;
	border-radius: 3px;
	border-top:1px solid #67b4d4;
	box-shadow:0px 0px 1px 2px #232323, 0px 3px 0px -1px #575757;
	cursor:pointer;
}
#submit_button:hover {
    background-image: url("../images/login/login.png");
    background-position: right -300px;
}
input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 13px;
    width: 255px;
    margin:12px 0px 0px 10px;
    line-height:30px;
    padding-left:5px;
}
.top_message {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #999999;
    margin: auto;
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.top_message_error {
    background: none repeat scroll 0 0 #FFCCCC;
    border-bottom: 1px solid #CC4444;
    border-top: 1px solid #CC4444;
    color: #880000;
    margin: auto;
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 100%;
}