#receipt_wrapper
{
	font-family: Helvetica, Arial, san-serif;
	width: 80%;
	font-size: smaller;
	background: white;
	padding: 40px 30px;
	margin: auto;
	box-shadow: 0px 10px 33px 0px black;
}
#receipt_wrapper.receivings {
	font-size:16px;
}
#receipt_header
{
	text-align:center;
}
#course_info, #employee_general_info {
	float:left;
	text-align:left;
}
#employee_general_info {
	width:250px;
	text-indent:10px;
}
#supplier_data {
	padding:30px 80px;
}
#invoice_info, #return_general_info {
	float:right;
	text-align:left;
	width:250px;
}
#company_logo {
	float:left;
	margin-right:5px;
}
.sales_receipt #company_logo {
	display:none;
}
#course_data {
	float:left;
	font-size:12px;
}
#return_general_info {
	width:auto;
	float:left;
}
.general_info_title {
	width:100%;
	font-weight:bold;
	text-indent:5px;
	margin-bottom:5px;
}
#company_name
{
	font-size:150%;
	font-weight:bold;
}

#company_phone
{
	margin-bottom:15px;

}

#sale_time
{
	margin-bottom:5px;
}

#receipt_items
{
	position:relative;
	border-collapse:collapse;
	margin-top:15px;
	margin-bottom:15px;
	width:100%;
}

#receipt_items td
{
	position:relative;
	padding:3px;	
}

.short_name
{
	display:none;
}

#sale_return_policy
{
	width:80%;
	margin:0 auto;
	text-align:center;
}

#barcode
{
	margin-top:10px;
	text-align:left;
}
.sales_receipt #barcode {
	text-align:center;
}
#signature
{
	margin-top: 30px;
	text-align: center;
}