/* Reset */
	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
	address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
	tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-size: 100%; font-family: inherit; vertical-align: baseline; outline: none; }
	html { font-size: 13px; height: 100%; }
	body { margin: 0; padding: 0; border: 0; font-family: 'Arial Rounded MT', 'Helvetica', sans-serif; background: #F8F8F8; }
	h1, h2, h3, h4, h5, h6, p, address { color: #272727;}
	h3 { font-size: 22px; }
	h4 { font-size: 18px; }
	h5 { font-size: 14px; color: #414141; }
	a img { border: 0; }
	p { line-height: 15px; color: #535353;}
	a { color: #254689; text-decoration: none; }
	a:link { color: #254689; }
	a:visited { color: #254689; }
	a:hover, a:focus { color: #254689; text-decoration: underline; }
	a:active { color: #254689; }

	/* Portal Wrappers */

	.wrapper {
		margin: 0 auto;
		width: 950px;
	}
  /* modules  */
  ul.modules{
    list-style: none;
    font-family: 'Arial Rounded MT', 'Helvetica', sans-serif;
    margin: 0 15px 20px 0;
  }

  ul.modules div.module-item{
    height: 30px;
    line-height: 30px;
    padding: 2px 0;
  }

  ul.modules div.module-item img{
    height: 30px;
    width : 30px;
    border:none;
    vertical-align: middle;
  }
  ul.modules div.module-item a{
    padding-left: 5px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    font-size: 14px;
  }
  
	/* Support Side Column */

	#support-side {
		float: left;
		margin: 0 0 0 20px;
		width: 230px;
	}

	#support-side .content {
		margin: 0 0 40px;
	}

	#support-side h3 {
/*		border-bottom: 1px solid #ccc;*/
		margin: 21px 0 10px 0;
/*		padding: 0 0 20px 0;*/
	}

	#support-side ul {
		list-style: none;
	}

	#support-side li {
		margin: 0 0 5px;
	}

	/* Support Main Column */

	#support-main {
		float: left;
		width: 700px;
	}

	#support-main .support-body {
		background: #FFF;
		border: 1px solid #CCC;
		-moz-box-shadow: 0 3px 4px #CCC;
		-webkit-box-shadow: 0 3px 4px #CCC;
	}

	#support-main .content {
		overflow: hidden;
		padding: 20px;
	}

	/* Support Main Column Headers */

	#support-main h3 {
/*		border-bottom: 1px solid #DDD;*/
		margin: 0 0 10px;
/*		padding: 0 0 20px;*/
	}

	#support-main h4 {
		margin: 0 0 30px;
	}

	#support-main h5 {
		margin: 0 0 9px;
	}

	#support-main h5 a {
		background: #EEE;
		color: #666;
		font-size: 11px;
		padding: 3px 7px;
		margin: -2px 0 0 9px;
		position: absolute;
		text-decoration: none;
		-moz-border-radius: 24px;
		-webkit-border-radius: 24px;
	}

	/* Dashboard */

	#support-main .dashboard h5 a:hover {
		text-decoration: none;
		color: #FFF;
		background: #254689;
	}

	#support-main .dashboard td {
		border-bottom: 1px solid #CCC;
		padding: 20px 0 10px;
	}

	#support-main .dashboard .row1 td {
		padding: 0 0 10px;
	}

	#support-main .dashboard .last td {
		border-bottom: none;
	}

	#support-main .dashboard .topic {
		margin: 0;
	}

	#support-main .dashboard .topic ul {
		color: #254689;
		margin: 0 15px 20px 0;
		list-style: none;
	}

	#support-main .dashboard .topic li {
		background: url('featured-bullet.png') -2px 5px no-repeat;
		margin: 0 0 5px;
		padding: 0 0 0 15px;
	}

	#support-main .dashboard .topic li.featured a {
		background: #FAFBCA;
		font-weight: bold;
	}

	#support-main .dashboard h5 {
		background: url('icon-types-small.png') 0 0 no-repeat;
		height: 16px;
		font-size: 13px;
		text-transform: uppercase;
		padding: 0 0 0 20px;
	}

  #support-main .dashboard h5.questions {
    background-position: 0 -109px;
  }

	/* Article Lists */

	#support-main .articles ul {
		list-style: none;
	}

	#support-main .articles h4 {
		margin: 0 0 5px;
		font-weight: normal;
	}

	#support-main .articles li {
		margin: 0;
	}

	#support-main .articles li.question {
		background: url('icon-types.png') 0 3px no-repeat;
		padding: 0 0 0 40px;
	}

	#support-main .articles li.article h4{
		background: url('icon-types.png') 0 -276px no-repeat;
		padding: 0 0 0 30px;
    line-height: 27px;
	}

	#support-main .articles li.question.featured {
		background-position: 0 -138px;
	}

	#support-main .articles li.article.featured {
		background-position: 0 -415px;
	}

	#support-main .articles li.featured h4 a {
		font-weight: bold;
		background: #FAFBCA;
	}

	#support-main .articles li p {
		margin: 0 0 5px;
		color: #777;
	}

	#support-main .articles .condensed {
		background: #FFFDF4;
		border: 1px solid #E3DEBF;
		margin: 0 0 30px;
		padding: 20px 20px 0;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}

	#support-main .articles .condensed li {
		margin: 0;
		padding: 0;
	}

	#support-main .articles .condensed h4 {
		font-size: 15px;
	}

	#support-main .articles .condensed p {
		margin: 0 0 20px 30px;
		color: #777;
	}

	#support-main .articles .condensed a {
		margin: 0 0 20px 30px;
	}

	/* Article List Metas */

	#support-main #search-results .meta,
	#support-main .articles .meta {
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
		color: #333;
		margin: 5px 0;
	}

	#support-main .articles .meta .answered {
		background: url('check.png') 0 center no-repeat;
		border-right: 1px solid #DDD;
		color: #549b07;
		padding: 0 5px 0 14px;
		margin: 0 5px 0 0;
	}

	#support-main .articles .meta .count,
	#support-main .articles .meta .date,
	#support-main .question-details .meta .name {
		margin: 0 5px 0 0;
		padding: 0 5px 0 0;
		border-right: 1px solid #DDD;
	}

	/* Article List Toggles */

	#toggle div {
		float: right;
		margin: -62px 0 0 0;
	}

	#toggle a {
		background: #FFF;
		color: #666;
		font-size: 11px;
		font-weight: bold;
		padding: 5px 7px;
		text-decoration: none;
		text-transform: uppercase;
		-moz-border-radius: 24px;
		-webkit-border-radius: 24px;
	}

	#toggle a:hover {
		text-decoration: none;
		color: #FFF;
		background: #254689;
	}

	#toggle .active, #toggle a.active:hover {
		background: #DDD;
		color: #000;
	}

	/* Page Title */

	#support-main .title {
		border-bottom: 1px solid #CCC;
		margin: 0 0 20px 0;
		padding: 0 0 20px 0;
	}

	#support-main .title h3 {
		margin: 0 0 3px;
		padding: 0;
		border: 0;
    font-size: 22px;
    font-weight: bold;
	}

	#support-main .title .meta {
		margin: 0;
		font-weight: bold;
	}

	/* Article View & Question View */

	#support-main .article-content h1,
	#support-main .article-content h2,
	#support-main .article-content h3,
	#support-main .article-content h4,
	#support-main .article-content h5,
	#support-main .answer-details h1,
	#support-main .answer-details h2,
	#support-main .answer-details h3,
	#support-main .answer-details h4,
	#support-main .answer-details h5, {
		margin: 0 0 20px;
	}

	#support-main .article-content h1, #support-main .answer-details h1 {
		font-size: 22px;
	}

	#support-main .article-content h2, #support-main .answer-details h2 {
		font-size: 20px;
	}

	#support-main .article-content h3, #support-main .answer-details h3 {
		font-size: 18px;
	}

	#support-main .article-content h4, #support-main .answer-details h4 {
		font-size: 16px;
	}

	#support-main .article-content h5, #support-main .answer-details h5 {
		font-size: 15px;
	}

	#support-main .article-content ul, ol, #support-main .answer-details ul, #support-main .answer-details ol {
		margin-left:15px;
		list-style-position:inside;
	}
	#support-main .article-content p {
		margin:0;
	}
	#support-main .article-content blockquote, #support-main .article-content q,
	#support-main .answer-details blockquote, #support-main .answer-details q {
		margin: 0.80em 0 0.80em 20px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		quotes: "" "";
	}
	#support-main .article-content blockquote p, #support-main .article-content q p,
	#support-main .answer-details blockquote p, #support-main .answer-details q p {
		margin: 0;
		padding: 0.80em;
		color: #666;
		background: inherit;
	}

	/* Article View Attachments */

	#attachments {
		border-bottom: 1px solid #CCC;
		padding: 0 0 20px;
		margin: 20px 0 0;
	}

	#attachments strong {
		background: url('attachment.png') -1px 0 no-repeat;
		display: block;
		margin: 0 0 10px;
		padding: 0 0 0 16px;
	}

	#attachments ul {
		list-style: none;
	}

	/* Article View Rating */

	#rate_article_container {
		margin: 20px 0 0 0;
	}

	#rate_article div {
		color: #265007;
		float: left;
		width: 100%;
		margin: 0 0 6px;
		font-style: italic;
		height: 1%;
	}

	#rate_article_container a {
		background: url('rating-arrows.gif') center 4px no-repeat;
		overflow: hidden;
		float: left;
		width: 20px;
		height: 16px;
		overflow: hidden;
		border: 1px solid #ccc;
		text-indent: -999px;
		margin: -2px 5px 0 0;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}

	#rate_article_container .rate-link-down {
		color: #9b0909;
	}

	#rate_article_container .rate-link-down a {
		background-position: center -28px;
	}

	#rate_article_container span {
		float: left;
	}

	/* Question View */

	#support-main .question {
		padding: 0;
	}

	#support-main .question .question-body {
		background: #FFFDF4;
		border-bottom: 1px solid #E3DEBF;
		margin: 0 0 20px;
		overflow: hidden;
		padding: 20px 20px 0;
	}

	#support-main .question .gravatar-wrapper {
		float: left;
		border: 1px solid #CCC;
		width: 56px;
		height: 56px;
	}

	#support-main .question .gravatar {
		float: left;
		border: 3px solid #FFF;
	}

	#support-main .question .question-details {
		padding: 0 0 0 70px;
	}

	#support-main .question .question-details h3 {
		border: 0;
		margin: 0 0 5px;
		padding: 0;
	}

	#support-main .question .question-details .meta {
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#support-main .question .meta {
		font-weight: bold;
		margin: 0 0 10px;
	}

	/* Question Answers */

	#support-main .question .replies {
		padding: 0 20px;
		margin: 0 0 20px;
	}

	#support-main .question .replies h4 {
		border-bottom: 1px solid #CCC;
		font-size: 15px;
		margin: 0;
		padding: 10px 0;
		text-transform: uppercase;
	}

	#support-main .question .replies.agents h4 {
		background: url('check.png') 0 center no-repeat;
		padding: 10px 0 10px 20px;
	}

	#support-main .question .replies.agents .reply {
		background: #FFF;
		padding: 20px 0 0;
	}

	#support-main .question .reply {
		margin: 0;
		overflow: hidden;
		height: 1%;
		padding: 20px 0 0 70px;
		position: relative;
	}

	#support-main .question .answer-details {
		padding: 0 0 0 70px;
	}

	#support-main .question .answer-details .meta {
		float: left;
		width: 100%;
		margin: 0;
	}

	#support-main .question .answer-details .meta span {
		display: block;
	}

	#support-main .question .answer-details .meta span.date {
		float: none;
		display: block;
		margin: 0 0 10px;
		font-size: 11px;
		font-weight: bold;
		color: #666;
		text-transform: uppercase;
	}

	#support-main .question .answer-details .meta span.date-short {
		float: none;
		display: block;
		margin: 0;
		font-size: 11px;
		font-weight: bold;
		color: #666;
		text-transform: uppercase;
	}

	#support-main .question .answer-details .answer-body {
		margin-bottom: 20px;
	}

	/* Question View Rating */

	#support-main .question .answer-rating {
		font-size: 20px;
		height: 53px;
		line-height: 20px;
		position: absolute;
		margin: 0 0 0 -70px;
		*margin: 0 0 0 -120px;
		text-align: center;
		width: 54px;
	}

	#support-main .question .answer-rating div {
		border: 1px solid #CCC;
		padding: 4px;
		height: 48px;
		overflow: hidden;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}

	#support-main .question .answer-rating a {
		background: url('rating-arrows.gif') center top no-repeat;
		display: block;
		height: 14px;
		text-align: center;
		text-indent: -900px;
		overflow: hidden;
	}

	#support-main .question .answer-rating .decrement {
		background-position: center -25px;
	}

	#support-main .question .dialog {
		display: none;
	}

	#support-main .question .rating-true .score {
		display: inline-block;
		margin: 5px 0 0 0;
	}

	#support-main .question .rating-true .dialog {
		display: inline-block;
		color: #999;
		font-weight: bold;
		font-size: 11px;
		text-transform: uppercase;
	}

	#support-main .question .score-positive {
		color: #396905;
	}

	#support-main .question .score-negative {
		color: #69050c;
	}

	/* Question View Form */

	#support-main .question #form {
		background: #f8f8f8;
		border: 1px solid #CCC;
		margin: 20px;
		padding: 20px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}

	#support-main .question .form-notice {
		border-top: 1px solid #DDD;
		margin: 0 20px 20px;
		padding: 15px 0 0 0;
	}

	#support-main .question #form h4 {
		font-size: 15px;
		text-transform: uppercase;
		margin: 0 0 20px;
		padding: 0;
	}

	#support-main .question #form .input-block input[type=text],
	#support-main .question #form .input-block textarea {
		width: 610px;
	}

	/* Pre Create Headers */

	#support-main .pre-create h4 {
		margin: 0 0 30px 0;
	}

	#support-main .pre-create ul h4 {
		margin: 0;
	}

	/* Support Forms */

	#form .label {
		display: block;
		font-weight: bold;
		margin: 0 0 5px;
	}

	#form .label span {
		color: #999;
	}

	#form .input-block input[type=text],
	#form .input-block textarea {
		/*display: block;*/
		font-size: 13px;
		margin: 0 0 20px;
		width: 650px;
	}

	#form .input-block textarea {
		height: 200px;
	}

	#form .input-block select {
		margin: 0 0 20px;
	}

	#form .input-button input {
		background: url('button.gif') 0 0 repeat-x;
		border: 0;
		color: #FFF;
		font-size: 12px;
		font-weight: bold;
		padding: 0 6px;
		height: 32px;
		text-transform: uppercase;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		cursor: pointer;
	}

	#form .input-button .disabled {
		background-position: 0 -38px;
	}

	#form .input-button img {
		display: none;
		margin: 7px 0 0 5px;
		position: absolute;
	}

	#form label.invalid {
		color: red;
		display: inline-block;
		margin: -20px 0 20px 0;
	}

	/* Pagination */

	#paginate_block {
		margin: 0;
		position: auto;
		text-align: center;
		width: 100%;
	}

	#paginate_block .pagination {
		background-color: #FFF;
		height: auto;
		margin: 0;
		padding-top: 0;
		position: auto;
		width: auto;
	}

	#paginate_block .current {
		background-color: #DDD;
		border: 1px solid #CCC;
		padding: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}

	/* Small Search */

	.support-search-small {
		position: absolute;
		right: 0;
		top: 3px;
		width: 230px;
	}

	.support-search-small div {
		position: relative;
	}

	.support-search-small #support-search-submit {
		background: url('search.gif') no-repeat;
		border: 0;
		cursor: pointer;
		height: 18px;
		line-height: 900px;
		overflow: hidden;
		position: absolute;
		right: 0px;
		text-indent: 900px;
		top: 9px;
		width: 21px;
	}

	.support-search-small #q {
		border: 0;
		border: 1px solid #CCC;
		color: #000;
		font-size: 13px;
		font-weight: bold;
		height: auto;
		margin-left: 0;
		margin-top: 0;
		padding: 7px 30px 7px 5px;
		width: 195px;
		outline: none;
		outline-width: 0;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}

	/* Big Search */

	.support-search-big {
		background: #E5E5E5;
		border: 1px solid #CCC;
		border-bottom-color: #ACACAC;
		margin: 0pt 0pt 20px;
		padding: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
	}

	.support-search-big .outer {
		position: relative;
	}

	.support-search-big .inner {
		background: #FFF;
		border: 1px solid #CCC;
		border-top-color: #999;
		overflow: hidden;
		height: 37px;
		margin: 0;
		padding: 0 5px;
		width: 836px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}

	.support-search-big #q {
		font-size: 18px;
		border: 0pt none;
		width: 100%;
		padding: 9px 0;
		margin: 0;
		outline: none;
		outline-width: 0;
		background: none;
	}

	.support-search-big #support-search-submit {
		background: url('button.gif') 0 0 repeat-x;
		color: #FFF;
		cursor: pointer;
		position: absolute;
		right: 0;
		_right: 6px;
		top: 0;
		padding: 0;
		width: 83px;
		height: 38px;
		border: 0;
		margin: 0;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: bold;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}

	/* Footer */

	#footer {
		display: block;
		clear: both;
		color: #999;
		padding: 20px 0 30px;
	}

	#footer a {
		color: #999;
		text-decoration: none;
	}

	#question-mask {
		color: #AAA;
		position: absolute;
	}

	.question-big {
		font-size: 18px;
		top: 8px;
		left: 10px;
	}

	.question-small {
		font-size: 13px;
		top: 0;
		left: 0;
		padding: 8px;
		font-weight: bold;
	}

	.search-bg {
		display: none;
	}

	.highlight{
		background-color: #FFFAE1;
	}

	/* Modals */

	#modal-screen {
		background: #000;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 200;
	}

	#modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 300;
	}

	#modal .inner {
		background: rgba(0,0,0,0.4);
		width: 700px;
		left: 50%;
		top: 50%;
		margin: -230px 0 0 -350px;
		position: absolute;
		padding: 5px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
	}

	#modal .inner h1 {
		text-align: center;
		font-size: 27px;
		padding: 25px 0 0;
	}

	#modal .inner p.subheader {
		font-size: 18px !important;
		color: #767676 !important;
		text-align: center;
		margin: 4px 0 30px 0;
	}

	#modal .inner .input-button {
		text-align: center;
		padding: 0 0 30px;
		font-size: 12px;
		font-weight: bold;
	}

	#modal .inner .input-button input {
		margin: 0 0 0 10px;
	}

	#modal .inner .note {
		text-align: center;
		color: #616161;
		margin: 0 0 20px 0 !important;
		font-size: 15px;
		font-style: italic;
	}

	#modal .main {
		background: #FFF;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	#modal .close {
		float: right;
		margin: -16px -16px 0 0;
	}

	/* Auto Completion */

	.ui-autocomplete {
		background: #FFF;
		border: 1px solid #C0C0C0;
		width: 100px;
		list-style: none;
		margin: 0;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	}

	.ui-autocomplete a {
		padding: 9px;
		cursor: pointer;
		display: block;
	}

	.ui-autocomplete a:hover,
	.ui-autocomplete a.ui-state-hover {
		background: #FFFAE1;
		text-decoration: none;
	}

	.ui-autocomplete li:first-child a {
		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
	}

	.ui-autocomplete li:last-child a {
		-moz-border-radius: 0 0 5px 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
	}

	.ui-autocomplete .KbArticle,
	.ui-autocomplete .QnaThread {
		background: url('icon-types-small.png') 0 4px no-repeat;
		display: block;
		padding: 0 0 0 25px;
		overflow: hidden;
	}

	.ui-autocomplete .QnaThread {
		background-position: 0 -106px;
	}

	.ui-autocomplete .article-autocomplete-subject {
		display: block;
		font-weight: bold;
		font-size: 15px;
	}

	.ui-autocomplete .article-autocomplete-body {
		display: block;
		font-size: 13px;
		color: #666;
	}
/*
   Get Satisfaction Styles 
  .gs-idea {
    background: url('http://assets1.desk.com/images/portal/getsatisfaction/idea_mini.png') 0 0 no-repeat !important;
    background-position: 0px 1px;
  }

  .gs-question {
    background: url('http://assets1.desk.com/images/portal/getsatisfaction/question_mini.png') 0 0 no-repeat !important;
    background-position: 0px 1px;
  }

  .gs-praise {
    background: url('http://assets1.desk.com/images/portal/getsatisfaction/praise_mini.png') 0 0 no-repeat !important;
    background-position: 0px 1px;
  }

  .gs-update {
    background: url('http://assets1.desk.com/images/portal/getsatisfaction/update_mini.png') 0 0 no-repeat !important;
    background-position: 0px 1px;
  }

  .gs-problem {
    background: url('http://assets1.desk.com/images/portal/getsatisfaction/problem_mini.png') 0 0 no-repeat !important;
    background-position: 0px 1px;
  }

  .gs_search_result {
    width:100% !important;
  }

  #gs_Sidebar_Results .tweet_time, .gs-search-result {
    padding-left: 20px;
  }

  #gs_search_title h5 {
    font-size:20px;
    border-bottom:1px solid #DDDDDD;
    margin:0 0 20px;
    padding:0 0 20px;
  }

  #question-best-answer {
	border: 1px solid #ddd;
	background: #FFF;
	border-radius: 5px;
	margin: 0 0 25px 70px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px 20px 0;
  }

 #support-main .agent-answer-label {
	margin: 0 0 10px;
 }

 #support-main #question-best-answer .reply {
	height: 1%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
 }

#support-main .best-answer-green {
	position: absolute;
	right: 0;
	background: url('http://assets1.desk.com/images/portal/check.png') 0 center no-repeat;
	padding: 0 0 0 15px;
	color: #6db400;
	font-weight: bold;
}

#support-main .best-answer-green a {
	color: #6db400;
}

#support-main .best-answer-green a:hover {
	text-decoration: none;
}

#support-main #question-best-answer-heading {
	margin: 30px 0 10px 0;
}
*/

/**
  DESK CSS
**/

/*TF DESK CSS*/
  
body{
	font-family:"AxelRegular", 'Arial' !important;
}

a:link, a:visited {color:#1486D6}
a:hover{color:#27A2F4}

h2, h3, h4, h5 {
  color: #555 !important;
  font-family: "AxelBold","Lucida Grande","Verdana",sans-serif !important;
  font-weight:normal;
}

#breadcrumbs {
  font-family: "AxelBold","Lucida Grande","Verdana",sans-serif !important;
  font-weight:normal;
  padding-bottom: 15px;
  font-size: 20px;
}


#support-header {
  display:none
}

.support-search-big {
  margin-top: 24px;
}

/*Buttons*/
.support-search-big #support-search-submit, #form .input-button input,
#support-email-submit{
	font: 18px/21px "AxelBold","Lucida Grande","Verdana",sans-serif !important;
  padding: 6px 11px 6px 11px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 1px solid #004E00;
  -webkit-background-clip: padding-box;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.66);
  color: white !important;
  cursor: pointer;
  background: #336699;
  background: -webkit-gradient(linear, left top, left bottom, from(#336699), to(#336699));
  background: -moz-linear-gradient(#336699, #336699);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}

#support-email-submit{margin-top: 10px;}
#form .input-button input {padding:3px 11px;}

/*custom icons*/

.topic h4 {background:url(topic_info.png) no-repeat left 2px;padding-left:28px;}

/*security*/
.topic184158 h4 {background-image:url(topic_security.png);}
/*questions*/
.topic184194 h4 {background-image:url(topic_questions.png);}

#support-side ul {margin-top: -15px;}
#support-side ul li{float:left;}
#support-side ul li a {
  float:left;
  width:66px;
  height:65px;
  overflow:hidden;
  text-indent:-999px;
  background:url(contact_email.png) no-repeat center center;
  opacity:.65;
}
#support-side ul li a:hover {opacity:1;}
#support-side ul li a.twitter {background-image:url(contact_twitter.png);}
#support-side ul li a.facebook {background-image:url(contact_facebook.png);}

#support-main .support-body {min-height:600px;}
#support-main .title .meta {color: #888888;font-weight: normal;margin: 0;}

#form .label {font-weight: normal;font-family:"AxelBold" !important;color:#555;}
#form .label span {font-family:"AxelRegular" !important;}

#form .input-block input[type="text"], #form .input-block textarea {
  background: none repeat scroll 0 0 #FBFBFB;
  border: 1px solid #C3C3C3;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  color: #666666;
  display: inline-block;
  font-size: 20px;
  height: 23px;
  line-height: 18px;
  padding: 8px;
  width:640px;
  font-family:"AxelRegular" !important;
}

#form .input-block input:focus,
#form .input-block textarea:focus {
  outline: 0;
  border-color: rgba(82,168,236,.8);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
}

.ui-autocomplete .article-autocomplete-subject {
  color:#1486D6 !important;
  font: 10pt Lucida Grande,Verdana,Arial,sans-serif !important;
}

#toggle a {font-weight:normal;font-family:"AxelBold" !important;}

#support-main #search-results .meta, #support-main .articles .meta {
    color: #888888;
    font-weight: normal;
}

#footer {
  background: #445058;
  clear: both;
  color: #fff;
  display: block;
  left: 0;
  margin-top: 40px;
  padding: 20px 0 30px;
  position: absolute;
  width: 100%;
  text-align:center;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5);
}

#footer a {color:#cecece;}

.footer {
	width:950px;
	margin:0 auto;
	text-align:center;
}

.footer a {
    color: #FFFFFF !important;
    font: 14px/14px "AxelBold","Lucida Grande","Verdana",sans-serif;
    margin: 0 10px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}


/* super admin overrides */

.superadmin{
  margin-top: 10px;
  vertical-align: middle;
}
.superadmin select, .superadmin input{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #C3C3C3;
  height: 25px;
  font-size: 1.2em;
}

.superadmin input{
  width: 50%;
}

.superadmin select{
  vertical-align: middle;
  width:20%;
  margin-right: 4%;
}

.superadmin textarea{
  margin-top: 15px;
  width: 100%;
  height: 150px;
}

.article-content p{
  margin-top: 1em;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.article-content p strong{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.article-edit:hover, .article-delete:hover{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
  height:0;
  line-height: 0;
  padding: 0;
  margin: 0;
}
#articleSubmitButton{width:auto;cursor:pointer;}
.single-topic{margin-top:15px;}
#relevant-article ul{list-style: none;}
#relevant-article ul li{padding-left:68px;padding-top:10px;width:100%;}
.each-ra{}
.each-ra-mask{
  position: absolute;
  visibility: hidden;
}
.related-articles{
    border-top: 1px solid #CCCCCC;
    margin-top: 10px;
    padding-top: 10px;
}
#rate-response .success{
  padding-top: 15px;
  font-weight: bold;
  font-size: 16px;
}
