/* Reports */
#report_list {
	margin-top: 10px;
	list-style:none;
}

#report_list > li {
	margin-top: 20px;
}

#report_list li ul li
{
	margin-left: 35px;
}
#report_date_range_simple
{
	margin-bottom: 3px;
}

/* Reports - Main Page */
ul#report_list {
	width: 962px;
	background: #FFFFFF;
}

ul#report_list > li {
	width: 962px;
	height: 42px;
	line-height: 42px;
	margin: 4px;
	display: block;
	clear: both;
}

ul#report_list > li.full {
	background: #FFFFFF url("../images/pieces/reports_main3.png") bottom left no-repeat;
}

ul#report_list > li.first {
	background: #FFFFFF url("../images/pieces/reports_main3.png") no-repeat;
}


ul#report_list > li.second {
	background: #FFFFFF url("../images/pieces/reports_main3.png") no-repeat;
	background-position: 0px -42px;
}

ul#report_list > li.third {
	background: #FFFFFF url("../images/pieces/reports_main3.png") no-repeat;
	background-position: 0px -84px;
}


ul#report_list > li > h3 {
	color: #333333;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	width: 127px;
	height: 40px;
	margin-left: 10px;
	margin-right: 7px;
	float: left;
	overflow: hidden;
}

ul#report_list > li  > ul {
	list-style: none;
	height: 42px;
	float: left; 
	margin: 0px;
	padding: 0px;
}

ul#report_list > li > ul > li {
	float: left;
	width: 262px;
	height: 42px;
	line-height: 42px;
	margin-left: 5px;
}

ul#report_list > li > ul > li > a {
	margin-left: 13px;
	font-weight: bold;
	color: #FFFFFF;
	width: 262px;
	height: 42px;
	line-height: 42px;
	display: block;
}

ul#report_list > li > ul > li.graphical {
	background: #FFFFFF url("../images/pieces/reports_main3.png") top left no-repeat;
	background-position: -150px 0px;
}

ul#report_list > li > ul > li.summary {
	margin-left: 10px;
	background: #FFFFFF url("../images/pieces/reports_main3.png") top left no-repeat;
	background-position: -420px -42px;	
}
ul#report_list > li > ul > li.detailed {
	margin-left: 6px;
	background: #FFFFFF url("../images/pieces/reports_main3.png") top left no-repeat;
	background-position: -690px -84px;
}

ul#report_list > li.third > ul > li.detailed{
	margin-left: 12px;
}

.report 
{
	font-size: 14px;
}
#report_summary
{
    margin: 0 auto;
    text-align: right;
    padding:10px 10px 10px 0px;
    border-top:3px solid black;
}

#chart_wrapper
{
	text-align: center;
}

#chart
{
	width: 100%;
	height: 500px;
}