.forms {
background-color: #E4F8FA;
font: normal 12px arial,verdana;
padding: 3px;
margin:auto;
width:90%;
}
.myaccount {
font: normal 12px arial,verdana;
}

a {
color: #03c;
}

.main {
font: normal 12px arial,verdana;
padding: 2px;
margin: 0px auto;

 }
 .rmain {
font: normal 12px arial,verdana;
padding: 0px;
margin: 5px 9px;
width:740px;
background-color:#e4f8fa;
 }
 .regContainer {
background:transparent url('../images/teesheet/reg-content.png') no-repeat top center;
   width:758px;  
   margin:10px auto;
 }
 .course_name {
     font-size:22pt;
     float:left;
     margin:50px 0 0 50px;
     width:540px;
 }
 .titlehdr {
 font: normal 22px arial, verdana;
 color: #1D65AC;
 margin-left:6px;
 }
 .saveButtons, .confirmButton {
     float:right;
 }
 .dailyweather {
     width:35px;
     float:left;
 }
 .dow {
     color: #D5D5D5;
     padding-bottom:10px;
 }
 .lowtemp {
    font-size:12px;
    color:#9ed4f1; 
    padding:10px 0px 0px;
 }
 .hightemp {
    font-size: 12px;
	color: #E9B886;
	border-bottom: 1px solid black;
	box-shadow: 0px 1px 1px -1px #D5D5D5;
    padding:10px 0px;
 }
 .curtemp {
     font-size:25px;
     float:right;
 }
 .curpic {
     float:left;
 }
 .wcity {
     font-size:10px;
     margin-left:20px;
     float:right;
     margin-top:-4px;
 }
 .rtitlehdr {
     margin:10px 40px 0px 40px;
     font: normal 22px arial, verdana;
 color: #1D65AC;
 }
 .rtitlehdr4 {
     margin:10px 40px 0px 40px;
     font: normal 19px arial, verdana;
 color: #1D65AC;
 }
 .rtitlehdr5 {
     margin:10px 40px 0px 0px;
     font: normal 19px arial, verdana;
 color: #1D65AC;
 }
 .rp {
     margin:0px 40px;
 }
 #doRegister {
     margin-bottom:40px;
 }
.msg {
padding: 5px;
width: 458px;
margin: 2px;
color: #c00;
border: 1px solid #c00;
background-color: #FEF1ED;
font: bold 13px  verdana;
} 
 
.error {
font: normal 11px arial, verdana;
color: #c00;
border: 1px solid #c00;
padding: 2px;
margin: 5px;
float: left;
background-color: #FEF1ED;
}
 
 .example {
font: normal 10px arial;
color: red;
}
.approved {
font: normal 10px arial;
color: green;
}

.loginform {
font: 16px normal arial;
background:transparent url('../images/teesheet/login-content.png') no-repeat left top;
font: normal 12px arial,verdana;
padding: 5px 27px 30px;
}

.loginform #txtbox {
font: bold 16px arial;
color: #666;
}
.wrapper {
    /*background: url("../images/teesheet/bg-.wrapper.png") repeat-x scroll left top #EEEEEE;&*/
    /*padding-top: 0;*/
}
#logo a {
    background: url("../images/teesheet/foreuplogosmall2.png") no-repeat scroll left center transparent;
    border: medium none;
    float: left;
    height: 85px;
    overflow: hidden;
    margin: 12px 0 0 5px;
    text-indent: -9999px;
    width: 200px;
}
#header {
    height: 90px;
    position: relative;
    margin:auto;
}
#loginheader {
    height: 90px;
    position: relative;
    margin:auto;
    width:482px;
}
#rloginheader {
    height: 90px;
    position: relative;
    margin:auto;
    width:758px;
}
.wrapper {
    margin:0 auto;
    width:942px;
}
#quick_login .login {
    background: url("../images/teesheet/bg-login-bar.png") no-repeat scroll 0 -124px transparent;
    padding-left: 24px;
}
#quick_login a {
    color: #E2EFF9;
    font-weight: bold;
}
#quick_login {
    background: url("../images/teesheet/bg-login-bar.png") no-repeat scroll top left transparent;
    color: #85AFD8;
    float: right;
    height: 29px;
    line-height: 25px;
    margin-right: -4px;
    margin-top: 11px;
    padding-left: 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
#quick_login > div {
    background: url("../images/teesheet/bg-login-bar.png") no-repeat scroll right top transparent;
    height: 29px;
    padding-right: 15px;
}
.cttd select {
    font-size:16px;
}
#signin_menu {
    background-color: #33689C;
    border: 1px none transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #EEEEEE;
    display: none;
    font-size: 11px;
    margin-right: 0;
    margin-top: 5px;
    padding: 12px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 24.5px;
    width: 210px;
    z-index: 100;
}
#header .contacts {
    float: right;
    position: absolute;
    right: 0;
    top: 53px;
}
#header .contacts .call {
    background: url("../images/teesheet/contact-icons-small.png") no-repeat scroll left 4px transparent;
    padding-left: 36px;
}
#header .contacts p {
    float: left;
    font-size: 12px;
    margin-left: 6px;
    margin-right: 12px;
}
#header .contacts .email {
    background: url("../images/teesheet/contact-icons-small.png") no-repeat scroll left -65px transparent;
    padding-left: 36px;
}
#header .contacts p {
    float: left;
    font-size: 12px;
    margin-left: 6px;
    margin-right: 12px;
}
#nav {
    background: url("../images/teesheet/bg-nav.png") no-repeat scroll center top transparent;
    clear: both;
    height: 49px;
}
#nav ul {
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
ol, ul {
    list-style: none outside none;
}
#nav li {
    float: left;
    list-style: none outside none;
    margin: 11px 0.5em 0 1em;
}
#nav li a {
    background: url("../images/teesheet/main-nav-sprite.png") no-repeat scroll left top transparent;
    border: medium none;
    float: left;
    font-weight: bold;
    height: 27px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    text-transform: uppercase;
}
.nav_home {
    background-position: left top !important;
    width: 67px;
}

.wrapper {
    margin:0;
    padding:0;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar, #calendarback {
    width: 700px;
    margin: 0 auto;
}
#header .contacts .call strong {
    color: black;
}
#header .contacts .email strong, #header .contacts .call strong, #header .contacts .chat strong {
    display: block;
    font-size: 14px;
    line-height: 14px;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}
body {
    margin:auto;
}
#weatherBox td{
    text-align: center;
}
a {
    color: #336699;
    padding-bottom: 1px;
    text-decoration: none;
}
.wrapper {
    color: #555555;
    font-family: "Quicksand", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 75%;
}
.wrapper {
    line-height: 1.5;
}
.player_buttons {
	width:320px;
}
.player_buttonset, .carts_buttonset {
	width:320px;
	display:block;
	float:left;
}
#paid_players, #paid_carts {
	font-size:13px;
	height:30px;
	margin:0px;
	padding:0 2px;
}
#signin_menu {
    background-color: #33689C;
    border: 1px none transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #EEEEEE;
    display: none;
    font-size: 11px;
    margin-right: 0;
    margin-top: 5px;
    padding: 12px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 24.5px;
    width: 210px;
    z-index: 100;
}
#signin_menu label {
    font-weight: normal;
}
label {
    cursor: pointer;
    font-weight: bold;
}
#signin_menu input[type="text"], #signin_menu input[type="password"] {
    border: 1px solid #AACCEE;
    border-radius: 4px 4px 4px 4px;
    display: block;
    font-size: 13px;
    margin: 0 0 5px;
    padding: 5px;
    width: 203px;
}
#signin_menu p.remember {
    padding: 10px 0;
}
#signin_menu p {
    margin: 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
    clear: both;
    margin: 5px 0;
}
.clear {
    clear:both;
}
#stats, #weatherBox {
    width:190px;
    margin-top:10px;
}
#weatherBox .ui-widget-content a {
    color: #336699;
}
#weatherBox .ui-tabs-panel {
    padding:.8em .3em;
}
.stattotals th, .stattotals td{
    border-top:1px solid #dedede;
}
#main .inner {
    background: url("../images/teesheet/bg-content-withheading-thin2.png") no-repeat scroll center top transparent;
    margin: 0 -15px 0 -14px;
    padding: 10px 2px 0;
}
.clearfix {
    display: block;
}
.clearfix {
    display: inline-block;
}
.clearfix, .container {
    display: block;
}
#main {
    background: none repeat scroll 0 0 white;
    margin-top: 10px;
    float:left;
    width:720px;
    border:1px solid #eee;
}
.fc-header {
    margin-top:3px;
}
.fc-content {
    margin-top:8px;
}
.fc-header-title h2 {
    font-size:16pt;
}
.fc-agenda-days {
    font-size:14px;
}
table th {
    background-color:#eee;
}
#tabs-1 table th {
    font-weight:bold;
}
.fc-sun, .fc-mon, .fc-tue, .fc-wed, .fc-thu, .fc-fri, .fc-sat {
    cursor:pointer;
}
.statsNote {
    font-size:8px;
    margin-top:6px;
    text-align:left;
}
.cititle {
    font-size:20px;
    padding:6px 0 10px;
    text-align:center;
}
.statsHeader {
    background:#336699;
    color:white;
    font-size:14px;
    height:22px;
    padding-left:6px;
}
.column {
    float:left;
    width:210px;
    margin-top:10px;
    margin-left:12px;
}
#course_selector {
    margin-bottom:10px;
}
#teesheetMenu {
    margin:5px 0px;
    width:175px;
    font-size:.9em;
} 
/*datepicker calendar styles*/
.datepicker_vista {
	position: absolute;
	font-size: 10px;
	font-family: Tahoma, sans-serif;
	color: #000;
	line-height: normal;
	width: 172px;
	height: 135px;
	padding: 14px;
	background: url(frame.png) no-repeat;
}

/* header
********************************************************/
.datepicker_vista .header {
	position: relative;
	height: 15px;
	margin-bottom: 5px;
	padding-top: 1px;
}

.datepicker_vista .header .title {
	text-align: center;
	margin: 0 18px 0 18px;
}

.datepicker_vista .header .titleText {
}

.datepicker_vista .header .previous,
.datepicker_vista .header .next,
.datepicker_vista .header .closeButton {
	position: absolute;
	cursor: pointer;
	text-indent: -40px;
	overflow: hidden;
	width: 12px;
	height: 12px;
	top: 2px;
	background-image: url(buttons.png);
	background-position: left top;
	background-repeat: no-repeat;
}

.datepicker_vista .header .previous {
	left: 4px;
}
.datepicker_vista .header .previous:hover {
	background-position: left bottom;
}
.datepicker_vista .header .next {
	right: 4px;
	background-position: -13px top;
}
.datepicker_vista .header .next:hover {
	background-position: -13px bottom;
}
.datepicker_vista .header .closeButton {
	display: none;
	right: 0px;
	top: 0px;
	background-position: right top;
}
.datepicker_vista .header .closeButton:hover {
	background-position: right bottom;
}

/* .wrapper
********************************************************/
.datepicker_vista ..wrapper {
	position: relative;
	top: 0px;
	left: 2px;
	width: 168px;
	height: 112px;
	overflow: hidden;
}

/* time
********************************************************/
.datepicker_vista .time {
	position: relative;
	width: 100%;
	height: 100%;
}

.datepicker_vista .time .hour,
.datepicker_vista .time .separator,
.datepicker_vista .time .minutes {
	border: 1px solid #ccc;
	background: #fff;
	width: 50px;
	font-size: 32px;
	position: absolute;
	top: 10px;
	text-align: center;
	padding: 2px;
}

.datepicker_vista .time .hour {
	left: 15px;
}
.datepicker_vista .time .separator {
	background: transparent;
	border: 0px;
	width: 10px;
	left: 76px;
}

.datepicker_vista .time .minutes {
	left: 95px;
}
.datepicker_vista .time .ok {
	position: absolute;
	top: 65px;
	width: 136px;
	left: 15px;
	font-size: 20px;
}

/* days-grid
********************************************************/
.datepicker_vista .days .day {
	float: left;
	text-align: center;
	overflow: hidden;
	width: 23px;
	height: 15px;
	margin: 0 1px 1px 0;
}
.datepicker_vista .days .titles {
	height: 15px;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 1px;
}
.datepicker_vista .days .day0 {
	margin-right: 0;
}

.datepicker_vista .days .week5 .day {
	margin-bottom: 0;
}

/* days-colors
********************************************************/
.datepicker_vista .days .week .day {
	cursor: pointer;
}
.datepicker_vista .days .week .day:hover {
	background: url(days.png) left top no-repeat;
	color: #0084AA;
}

.datepicker_vista .days .otherMonth {
	color: #aaa;
}

.datepicker_vista .days .selected {
	background: url(days.png) left bottom no-repeat;
	color: #316879;
}

/* months-grid
********************************************************/
.datepicker_vista .months .month {
	float: left;
	cursor: pointer;
	text-align: center;
	padding-top: 6px;
	width: 55px;
	overflow: hidden;
	height: 21px;
	margin: 0 1px 1px 0;
}

.datepicker_vista .months .month3,
.datepicker_vista .months .month6,
.datepicker_vista .months .month9,
.datepicker_vista .months .month12 {
	margin-right: 0;
}

.datepicker_vista .months .month10,
.datepicker_vista .months .month11,
.datepicker_vista .months .month12 {
	margin-bottom: 0;
}

/* months-colors
********************************************************/
.datepicker_vista .months .month:hover {
	background: url(months.png) left top no-repeat;
	color: #0084AA;
}

.datepicker_vista .months .selected {
	background: url(months.png) left bottom no-repeat;
	color: #316879;
}

/* years-grid
********************************************************/
.datepicker_vista .years .year {
	float: left;
	cursor: pointer;
	text-align: center;
	padding-top: 6px;
	width: 32px;
	overflow: hidden;
	height: 21px;
	margin: 0 1px 1px 0;
}

.datepicker_vista .years .year4,
.datepicker_vista .years .year9,
.datepicker_vista .years .year14,
.datepicker_vista .years .year19 {
	margin-right: 0;
}

.datepicker_vista .years .year15,
.datepicker_vista .years .year16,
.datepicker_vista .years .year17,
.datepicker_vista .years .year18,
.datepicker_vista .years .year19 {
	margin-bottom: 0;
}

/* years-colors
********************************************************/
.datepicker_vista .years .year:hover {
	background: url(years.png) left top no-repeat;
	color: #0084AA;
}

.datepicker_vista .years .selected {
	background: url(years.png) left bottom no-repeat;
	color: #316879;
}

/* global
********************************************************/
.datepicker_vista .unavailable {
	background: none !important;
	color: #fbb !important;
	cursor: default !important;
}

.datepicker_vista table {
	border-spacing: 0;
}

.datepicker_vista th,
.datepicker_vista td {
	padding: 0;
}
#frontnine, #backnine, .schedule_track {
    /*width:348px;*/
    float:left;
}
#frontnine {
    margin-left:24px;
}
#myform #frontnine {
    margin-left:0px;
    width:110px;
}
#calendarback table.fc-header{
    height:36px;
}
#calendar table.fc-header{
    /*width:700px;*/
}
.teebuttons {
    margin-top:7px;
    text-align:center;
}
.teebuttons .ui-button-text-only .ui-button-text {
    padding:0.2em 1em;
}
#content_area_wrapper {
    padding:0 0 10px;
}
#content_area {
    padding:0;
}
.ttphone {
    margin:6px 5px 6px 0px;
}
.ttemail {
    width:227px;
    font-size:16px;
}
.teetime_name {
    background:url(../images/teesheet/name2.png) no-repeat 2px 4px;
}
.teetime_email {
    background:url(../images/teesheet/email.png) no-repeat 2px 5px;
}
.teetime_phone {
    background:url(../images/teesheet/phone.png) no-repeat 2px 5px;
}
.teetime_details {
    background:url(../images/teesheet/details.png) no-repeat 2px 6px;
}
.teetime_players {
    width:40px
}
.teetime_carts {
    width:40px;
}
.details_box {
	font-style:san-serif;
	font-size:16px;
}
.fc-agenda-axis {
    cursor:pointer;
   /* font-size:16px;*/
}
/*
    Tee time styles
*/
.teetime .fc-event-inner {
    background-image:url(../images/teesheet/teetime_regular.png);
}
.checked_in .fc-event-inner {
    background-image:url(../images/teesheet/teetime_checkedin.png);
}
.tournament .fc-event-inner {
    background-image:url(../images/teesheet/teetime_tournament.png);
}
.closed .fc-event-inner {
    background-image:url(../images/teesheet/teetime_closed.png);
}
.league .fc-event-inner {
    background-image:url(../images/teesheet/teetime_league.png);
}
.event .fc-event-inner {
    background-image:url(../images/teesheet/teetime_event.png);
}
.fc-event .fc-event-inner .fc-event-content {
}
.players_1 .fc-event-inner .fc-event-title,
.players_2 .fc-event-inner .fc-event-title,
.players_3 .fc-event-inner .fc-event-title,
.players_4 .fc-event-inner .fc-event-title,
.players_5 .fc-event-inner .fc-event-title {
    background-image:url(../images/teesheet/teetime_icons.png);
    background-position:-56px 0px;
    padding-left:15px;
    background-repeat:no-repeat;
}
.players_2 .fc-event-inner .fc-event-title {
    background-position:-45px -16px;
}
.players_3 .fc-event-inner .fc-event-title {
    background-position:-32px -33px;
}
.players_4 .fc-event-inner .fc-event-title {
    background-position:-19px -49px;
}
.players_5 .fc-event-inner .fc-event-title {
    background-position:-5px -66px;
}
.carts .fc-event-content {
    background-image:url(../images/teesheet/cart_icon.png);
    background-position:right top;
    background-repeat:no-repeat;
}
/*
.holes_18 .fc-event-bg {
    background-image:url(../images/teesheet/teetime_18.png);
    background-position:right;
    background-repeat:repeat-y;
    height:100%;
}
#calendarback .holes_18  .fc-event-bg{
    background-position:left;
}
*/
.fc-event-time,
.fc-event-title {
	font-size:14px;
    line-height:19px;
}
#print_button {
    font-size:.9em;
    margin-left:5px;
}
.paid_9_1 .fc-event-inner{
	background:url(../images/teesheet/paid_9_1.png) repeat-y;
}
.fc-view-agendaWeek .paid_9_1 .fc-event-inner {
	background:url(../images/teesheet/paid_18_2.png) repeat-y;
}
.paid_9_2 .fc-event-inner {
	background:url(../images/teesheet/paid_9_2.png) repeat-y;
}
.paid_9_3 .fc-event-inner {
	background:url(../images/teesheet/paid_9_3.png) repeat-y;
}
.paid_9_4 .fc-event-inner, .paid_9_5_5 .fc-event-inner {
	background:url(../images/teesheet/paid_9_4.png) repeat-y;
}
.paid_18_1 .fc-event-inner{
	background:url(../images/teesheet/paid_18_1.png) repeat-y;
}
.fc-view-agendaWeek .paid_18_1 .fc-event-inner {
	background:url(../images/teesheet/paid_18_2.png) repeat-y;
}
.paid_18_2 .fc-event-inner {
	background:url(../images/teesheet/paid_18_2.png) repeat-y;
}
.paid_18_3 .fc-event-inner {
	background:url(../images/teesheet/paid_18_3.png) repeat-y;
}
.paid_18_4 .fc-event-inner, .paid_18_5_5 .fc-event-inner {
	background:url(../images/teesheet/paid_18_4.png) repeat-y;
}
.paid_9_1_5 .fc-event-inner{
	background:url(../images/teesheet/paid_9_1_5.png) repeat-y;
}
.paid_9_2_5 .fc-event-inner {
	background:url(../images/teesheet/paid_9_2_5.png) repeat-y;
}
.paid_9_3_5 .fc-event-inner {
	background:url(../images/teesheet/paid_9_3_5.png) repeat-y;
}
.paid_9_4_5 .fc-event-inner {
	background:url(../images/teesheet/paid_9_4_5.png) repeat-y;
}
.paid_18_1_5 .fc-event-inner{
	background:url(../images/teesheet/paid_18_1_5.png) repeat-y;
}
.paid_18_2_5 .fc-event-inner {
	background:url(../images/teesheet/paid_18_2_5.png) repeat-y;
}
.paid_18_3_5 .fc-event-inner {
	background:url(../images/teesheet/paid_18_3_5.png) repeat-y;
}
.paid_18_4_5 .fc-event-inner {
	background:url(../images/teesheet/paid_18_4_5.png) repeat-y;
}

/*facebook messages on the teesheet page*/
.facebook_messages, #teetime_search_box, #teetime_standby_box{
	border: 1px solid black;
	background-image: url('/images/facebook/facebook_post.png');
	background:rgba(0,0,0,0.2);
	width:188px;
	margin-top:10px;
	box-shadow: 0px 2px -1px 0px rgba(255,255,255,0.2);
}

#teetime_search_box, #teetime_standby_box{
	margin-bottom:10px;
}
#facebook_title, #teetime_search_title, #teetime_standby_title {
	font-size: 16px;
	padding: 4px 0px 8px 12px;
	font-weight: lighter;
	color:white;
	text-align:left;
}
/*.facebook_messages input:not(.post){
	top: 4px;
	position: absolute;
	right: 13px;
}*/

.facebook_messages textarea{
	background-color: white;
	border: none;
	width: 90%;
	color: black;
	padding: 5px;
}
.facebook_messages .post{
	background-image: url('../images/facebook/post.jpg');
	width: 41px;
	height: 24px;
	border: none;
}

/*.facebook_messages.logged_out input:not(.login), .facebook_messages.logged_out #selected_page{
	display: none;
}
.facebook_messages.logged_out .login{
	display: inherit;
}
.facebook_messages.logged_out textarea, .facebook_messages.logged_out #selectable{
	display: none;
}*/
.facebook_messages #selectable{
	overflow: auto;
	padding-top: 0px;
}
.facebook_messages #selectable li {
		background: #349ac5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background: -webkit-linear-gradient(top, #349AC5, #4173B3);
	background: -moz-linear-gradient(top,  #349AC5,  #4173B3); /* for firefox 3.6+ */
	border-radius:4px;
}
#selectable .ui-selecting { 
	background: #359; 
}
#selectable .ui-selected { 
	background: #369; 
	color: white; 
}
#selectable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
#selectable li { 
	margin: 3px; 
	padding: 0.4em; 	
	height: 18px;
}
.facebook_messages #selected_page{
	position: relative;
	top: 160px;
	text-align: left;
	font-size: 13px;
	color: white;
	font-weight: bold;
	margin-left: 10px;
}
.facebook_messages #selected_page span{
	font-size: 15px;
	opacity: .7;
	margin: 3px;
}
/*http://stackoverflow.com/questions/895888/truncate-text-with-jquery-based-on-pixel-width*/
.facebook_messages #selected_page.truncated { 	
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap; 
}
.facebook_messages #selected_page:hover, #selectable li:hover{
	cursor: pointer;
	font-weight: bolder;
	/*font-size: 1.1em;*/
}

