#menubar {
    margin: auto;
    /*width: 1000px;*/
    /*background: url("../images/header/header_empty2.png") no-repeat 0px -2px;*/
}
#menubar_background {
	/*background:url('../images/header/header_background.png') repeat-x 0 -2px;*/
}
#menubar_full {
    background-image: url('../images/header/header_full_empty.png');
    margin: auto;
    width: 1000px;
    background-position: -10px -2px;
}
#menubar_container {
	width:auto;
}
.menu_item {
    text-align: center;
    vertical-align: top;
    width: 80px;
}
.menu_item a {
    background-image: url("../images/header/header.png");
    background-position: -10px -2px;
    border: medium none;
    color: #FFFFFF;
    display: block;
    font-size: 0.65em;
    padding: 70px 0 3px;
    width: 72px;
}
.menu_item img {
    border: medium none;
}
.menu_item_home {
    height: 70px;
    padding: 18px 10px 0 0;
    text-align: center;
    vertical-align: top;
    width: 190px;
}
.menu_item_home a {
    background: none repeat scroll 0 0 transparent;
    margin: auto;
    padding: 0;
    width: 170px;
}
.menu_item_teesheets a {
    background-position: -1020px -2px;
}
.menu_item_teesheets a:hover {
    background-position: -1020px -112px;
}
.menu_item_courses a {
    background-position: -1106px -2px;
}
.menu_item_courses a:hover {
    background-position: -1106px -112px;
}
.menu_item_billings a {
    background-position: -1267px -2px;
}
.menu_item_billings a:hover {
    background-position: -1267px -112px;
}
.menu_item_customers a {
    background-position: -209px -2px;
}
.menu_item_customers a:hover {
    background-position: -209px -112px;
}
.menu_item_items a {
    background-position: -289px -2px;
}
.menu_item_items a:hover {
    background-position: -289px -112px;
}
.menu_item_auto_mailers a {
    background-position: -1586px -2px;
}
.menu_item_auto_mailers a:hover {
    background-position: -1586px -112px;
}
.menu_item_recipients a {
    background-position: -1666px -2px;
}
.menu_item_recipients a:hover {
    background-position: -1666px -112px;
}
.menu_item_item_kits a {
    background-position: -369px -2px;
}
.menu_item_item_kits a:hover {
    background-position: -369px -112px;
}
.menu_item_suppliers a {
    background-position: -449px -2px;
}
.menu_item_suppliers a:hover {
    background-position: -449px -112px;
}
.menu_item_reports a {
    background-position: -529px -2px;
}
.menu_item_reports a:hover {
    background-position: -529px -112px;
}
.menu_item_receivings a {
    background-position: -609px -2px;
}
.menu_item_receivings a:hover {
    background-position: -609px -112px;
}
.menu_item_sales a {
    background-position: -689px -2px;
}
.menu_item_sales a:hover {
    background-position: -689px -112px;
}
.menu_item_employees a {
    background-position: -769px -2px;
}
.menu_item_employees a:hover {
    background-position: -769px -112px;
}
.menu_item_giftcards a {
    background-position: -849px -2px;
}
.menu_item_giftcards a:hover {
    background-position: -849px -112px;
}
.menu_item_marketing_campaigns a {
    background-position: -1347px -2px;
}
.menu_item_marketing_campaigns a:hover {
    background-position: -1347px -112px;
}
.menu_item_promotions a {
    background-position: -1185px -2px;
}
.menu_item_promotions a:hover {
    background-position: -1185px -112px;
}
.menu_item_dashboard a {
    background-position: -1428px -2px;
}
.menu_item_dashboard a:hover {
    background-position: -1428px -112px;
}
.menu_item_config a {
    background-position: -929px -2px;
}
.menu_item_config a:hover {
    background-position: -929px -112px;
}
.menu_item_events a {
    background-position: -1508px -2px;
}
.menu_item_events a:hover {
    background-position: -1508px -112px;
}