#register_container {
    margin: auto;
    width: 962px;
}
#register_container #cart_contents .warning_message
{
	background:url(../images/sales/cart_default.png) no-repeat 120px 0px;
	height:40px;
}
#title_section td {
    vertical-align: middle;
}
#title_section, .title_section {
    font-size: 1.75em;
}
#title {
    font-size: 0.915em;
}
#new_customer_button {
	margin-top:-4px;
	width:22px;
	height:22px;
	background:url(../images/pieces/buttons.png) no-repeat -147px -12px;
	border-radius:4px;
	padding:5px 0 0 7px;
	font-size:16px;
	color:white;
	display:inline-block;
}
td#register_wrapper {
   /* background: url("../images/pieces/reg_mode.png") no-repeat scroll center center transparent;*/
    font-size: 0.8em;
    height: 32px;
    line-height: 0;
    text-align: center;
    width: 250px;
}
#register_wrapper form {
}
#register_wrapper span {
    font-size: 0.55em;
}
.edit_delete_button_holder{
	height:27px;
}
#customers_quickbuttons {
	float:right;
}
.customer_quickbutton {
	background: #CCC;
	border: 1px solid #AAA;
	border-radius: 4px 4px 0px 0px;
	cursor: pointer;
	float: right;
	font-size: 16px;
	padding: 4px 10px;
	color: #333333;;
	bottom: 0;
	position: relative;
	margin-top: 6px;
	background: #d4d4d4;
	border-bottom-color: #333333;;
	height: 21px;
	line-height: 23px;
	margin-right:3px;
}
a.selected_customer {
	background:white url("../images/pieces/x_red2.png") no-repeat scroll 11px center;
	border-bottom-color:white;
	padding-left:30px;
}
a.selected_customer:hover {
	background:white url("../images/pieces/x_red2.png") no-repeat scroll 11px center;
	opacity:1;
}
.customer_quickbutton:hover {
	opacity:.9;
}
.remove_customer, .delete_item, .save_item {
	background: url("../images/pieces/x_red2.png") no-repeat scroll center center transparent;
    height: 10px;
    width: 10px;
    display:block;
    overflow: hidden;
    text-indent: -10000px;
    float:left;
    margin:4px;
    padding:0px;
}
th .delete_item {
	background: url("../images/pieces/x2.png") no-repeat scroll center center transparent;
}
.save_item {
	background: url("../images/pieces/check.png") no-repeat scroll center center transparent;
	width:11px;
	height:11px;
}
.save_item:hover {
	background:url("../images/pieces/check_green.png") no-repeat scroll center center transparent;
}
.remove_customer {
	margin:0px 5px;
	float:right;
}
.remove_customer:hover, .delete_item:hover {
	background: url("../images/pieces/x_red2.png") no-repeat scroll center center transparent;
}
.delete_item {
	padding:0px 5px;
}
.edit_customer {
	font-size:10px;
	float:right;
}
#show_suspended_sales_button {
    background: url("../images/pieces/view_suspended.png") no-repeat scroll right center transparent;
    font-size: 0.8em;
    height: 49px;
    line-height: 0;
    text-align: center;
    width: 230px;
}
#show_suspended_sales_button a {
    color: #FFFFFF;
    font-size: 0.7em;
}
#suspended_sales_table {
	font-size: 1.2em;
}

#suspended_sales_table  input[type="submit"]{
    background: url("../images/pieces/btnUpdate.png") no-repeat top left transparent;
    color: #FFFFFF;
    display: block;
    height: 24px;
	font-size: 12px;
	margin: 0 auto;
	border: 0px;
	width: 70px;
    text-align: center;
}

#register_items_container {
    width: 554px;
}
#over_all_sale_container {
    width: 220px;
    height: 590px;
}
#reg_item_search {
    background: url("../images/pieces/reg_item_search3.png") no-repeat scroll -9px -9px transparent;
    height: 30px;
    padding: 11px 11px 10px;
}
#reg_item_search form {
    vertical-align: middle;
}
#reg_item_search input {
    background: url("../images/pieces/reg_item_search3.png") no-repeat scroll -20px -20px transparent;
    border: medium none;
    font-size: 1.1em;
    padding: 4px 10px;
    width: 350px;
}
.email_receipt_text {
	float:right;
	font-size:12px;
}
#new_item_button_register {
    background: url("../images/pieces/reg_item_search.png") repeat scroll -559px -80px transparent;
    float: right;
    font-size: 0.8em;
    height: 30px;
    width: 172px;
}
#new_item_button_register a {
    color: #FFFFFF;
}
#new_item_button_register a div {
    padding-left: 20px;
    padding-top: 5px;
}
#register_items_container, #over_all_sale_container {
    vertical-align: top;
}
#register_holder {
    /*background: url("../images/pieces/item_empty_large.png") repeat scroll 0 -30px transparent;*/
    min-height: 200px;
	overflow-x: hidden;
    overflow-y: auto;
    width: 554px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.reg_item_delete, .reg_item_select, .reg_item_qty {
	width:4%;
}
.reg_item_price, .reg_item_discount,  .reg_item_total {
	width:10%;
}
.reg_item_name {
	width:83%;
}
#register th {
    background-image: url("../images/pieces/table_body.png");
    background-position: -15px -80px;
    border-right: 1px solid #D0D8DF;
    color: #FFFFFF;
    font-size: 0.7em;
    height: 30px;
    text-align: left;
    text-indent: 10px;
    vertical-align: middle;
}
th.reg_item_select {
    width: 5%;
}
.reg_item_select input {
    margin: 0 10px 0 0;
}
th.reg_item_del {
    width: 60px;
}
th.reg_item_name {
    width: 48%;
}
th.reg_item_number {
    width: 110px;
}
th.reg_item_stock {
    width: 8%;
}
th.reg_item_price {
    width: 12.5%;
}
th.reg_item_qty {
    width: 7%;
}
th.reg_item_discount {
    width: 8.5%;
}
th.reg_item_total {
    width: 11%;
}
th.reg_item_update {
    border-right: medium none;
    width: 90px;
}
#register td, #rainchecks td {
    border-right: 1px solid #BBBBBB;
    color: #555555;
    font-size: 14px;
    height: 34px;
    line-height:34px;
    /*text-align: left;*/
    text-indent: 10px;
    vertical-align: middle;
    padding:0px 3px;
}
#register td.reg_item_price, #register td.reg_item_qty, #register td.reg_item_discount {
    text-indent:3px;
}
.reg_item_bottom td {
    height:20px;
}
tr.reg_item_top {
    /*background: url("../images/pieces/item_full_large.png") repeat scroll left top transparent;*/
    border-bottom: 1px solid #BBBBBB;
}
tr.reg_item_top.even {
    background-position:left bottom;
}
tr.reg_item_bottom {
    background: url("../images/pieces/item_full_large.png") repeat scroll left bottom transparent;
    border-bottom: 1px solid #BBBBBB;
}
#cart_contents tr.giftcard_number_error {
	background:#E0B2B5;
}
td.reg_item_del {
}
td.reg_item_name select, td.reg_item_type select {
    width:250px;
    font-size:1em;
}
td.reg_item_number {
}
td.reg_item_stock {
}
td.reg_item_price {
    text-indent: 3px;
    padding:0px;
}
td.reg_item_price input, td.reg_item_qty input, td.reg_item_discount input {
    /*border: 1px solid #CCCCCC;*/
    border-radius: 3px;
    padding: 4px 7px;
    width: 50px;
    text-align: right;
    background:rgba(58,144,195,.15);
    height:22px;
    color:#2979ac;
    border:none;
}
td.reg_item_price div{
	width: 62px;
	text-align: right;
	margin-right: 5px;
}
div.total_price_box {
	width:60px;
}
td.reg_item_qty {
    text-indent: 3px;
    padding:0px;
}
td.reg_item_qty input{
    width: 32px;
}
td.reg_item_qty div{
	width: 44px;
	text-align: right;
	padding-right: 5px;	
}
td.reg_item_discount {
    text-indent: 3px;
    padding:0px;
}
td.reg_item_discount input {
    width: 42px;
}
td.reg_item_discount div {
	width: 53px;
	text-align: right;
	margin-right: 6px;
}
#invoice_details_table th, #invoice_details_table th{
	text-align: left;
}
#invoice_details_table .total{
	font-weight: bold;
	font-size: 16px;
}
#register td.reg_item_total {
    /*background: none repeat scroll 0 0 #CCFFCC;
    font-size: 0.8em;
    font-weight: bold;*/
    padding: 0 10px 0 0;
    text-align: right;
    font-size:12px;
}
td.reg_item_update {
    border-right: medium none;
}
td.reg_item_descrip_label {
    border-right: medium none;
    padding-left:40px;
}
td.reg_item_descrip {
    text-indent: 3px;
}
td.reg_item_descrip input {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    padding: 4px 7px;
    width: 350px;
}
td.reg_item_serial_label {
    border-right: medium none;
}
td.reg_item_serial {
    border-right: medium none;
    text-indent: 3px;
}
td.reg_item_serial input {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    padding: 4px 7px;
    width: 210px;
}
.reg_item_base {
    background: url("../images/pieces/item_base.png") no-repeat scroll left bottom transparent;
    height: 10px;
}
#suspend_cancel {
    color: #FFFFFF;
    font-size: 0.8em;
    /*height: 30px;*/
    /*padding-top: 10px;*/
}
.receiving #suspend_cancel {
	height:40px;
}
#suspend {
    background: url("../images/pieces/sus_can.png") no-repeat scroll left top transparent;
    float: left;
    height: 20px;
    width: 110px;
}
#cancel {
    background: url("../images/pieces/sus_can.png") no-repeat scroll right top transparent;
    float: left;
    height: 20px;
    width: 110px;
}
#suspend div, #cancel div {
    /*cursor: pointer;
    height: 20px;
    text-indent: 10px;
    width: 110px;*/
}
#suspend div {
    background: url("../images/pieces/sus_can.png") no-repeat scroll left bottom transparent;
}
#cancel div {
    /*background: url("../images/pieces/sus_can.png") no-repeat scroll right bottom transparent;*/
}
#customer_account_balance, #customer_account_number {
	font-size:10px;
}
#tabs {
	width:940px;
	height:400px;
}
#tabs .ui-tabs {
	height:370px;
}
#mode_button {
	/*background-image:url("../images/pieces/reg_mode3.png");*/
	background-repeat: no-repeat;
	background-color: transparent;
	height:28px;
	line-height:21px;
	margin-bottom:4px;
	cursor:pointer;
	float:right;
	font-size:15px;
}

#mode_button.mode_return #return_button{
	
}
#register_wrapper div.mode_sale {
	background-position:-1px -1px;
}
#register_wrapper div.mode_return {
	background-position:-1px -33px;
}
.alt_payment_button {
	color:white;
	background:#336699;
	border:1px solid white;
	border-radius:6px;
	cursor:pointer;
	font-size:10px;
	padding:5px 10px;
	margin-right:6px;
}
#customer_info_filled {
    background: url("../images/pieces/add_customer_info_filled_3.png") no-repeat scroll -1px 47px transparent;
    font-size: 0.6em;
    height: 47px;
    /*margin-bottom: 4px;*/
    padding: 4px;
    width: 400px;
    border-bottom:3px solid #ccc;
}
#customer_info_empty {
    background: url("../images/pieces/add_customer_info3.png") no-repeat scroll -9px -9px transparent;
    font-size: 0.8em;
    height: 37px;
    margin-bottom: 0px;
    padding: 0px 10px 0px 3px;
    /*width: 202px;*/
}
#profile_picture {
	width:48px;
	height:48px;
	background: url('../images/pieces/add_customer_info3.png')no-repeat -3px -3px transparent;
	display:block;
	margin:4px;
}
#loaded_customer_name {
	font-size:28px;
	padding-right:35px;
	background:url(../images/icons/edit.png) no-repeat right center;
}
.customer_email_cell {
	vertical-align: top;
}
#customer_info_container {
	padding-bottom:5px;
}
#select_customer_form {
	background:url("../images/pieces/search2.png") no-repeat scroll 2px 5px transparent;
}

#member_badge {
	width:20px;
	height:20px;
	background: url('../images/pieces/member_20.png')no-repeat 0px 0px transparent;
	display:block;
	float:left;
	margin:32px -9px -9px 32px;
}
#customer_label {
    display: block;
    font-size: 0.9em;
}
#customer_info_shell #customer {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0 5px;
    width: 230px;
    font-size:14px;
    height:30px;
    margin:5px 0px 0px 4px;
}
#add_customer_info {
}
#add_customer_info #common_or {
    float: left;
    margin-top: 20px;
    width: 30px;
}
#add_customer_info a {
    color: #FFFFFF;
    float: left;
    height: 20px;
    margin: 15px 0 0;
    padding: 5px;
    text-indent: 6px;
    width: 160px;
}
#customer_email{
	/*height:50px;*/
}
#supplier_email {
	height:20px;
}
#email_customer{
    font-size: 0.75em;
    padding-left: 10px;
    /*position: absolute;*/
    top: 155px;
    width: 200px; 
/*	margin-top: 30px;*/
	height:30px;
	line-height:30px;
	float:left;
}
#account_button_holder, #member_account_button_holder {
	text-align:right;
}

#supplier {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0 5px;
    width: 163px;
}

#customer_edit a{
	float: left;
    text-align: center;
    width: 100px;
	color:#fff;
	display:block;
	height:20px;
}
#customer_remove{
}
#customer_remove a{
	float: left;
    text-align: center;
    width: 90px;
    margin-left:10px;
	color:#fff;
	display:block;
	height:20px;
}
.payment_button {
	display: block;
	height: 20px;
	width: 114px;
	float: left;
	margin: 4px 0 10px 19px;
	cursor: pointer;
	padding-left: 45px;
	font-size: 18px;
	color: #333;
	line-height: 22px;
	text-align:left;
	position:relative;
}
.payment_button:before {
	background: transparent url("../images/icons/icons.png") no-repeat;
	height:20px;
	width:40px;
	margin-left:-39px;
	content:'';
	position:absolute;
}
.payment_button_wide {
	width:220px;
}
.payment_button_medium {
	width:150px;
}
.payment_label {
	font-size: 14px;
	float: right;
	color:#333333;
}
.payment_currency {
	font-size: 14px;
	width: 100px;
	text-align: right;
	float: right;
	color:#22B922;
	font-weight:bold;
	margin-right:10px;
}
#payment_credit_card:before {
	background-position:-126px -210px;
}
#payment_cash:before {
	background-position:-126px -170px;
}
#payment_gift_card:before {
	background-position:-126px -130px;
}
#payment_punch_card:before {
	background-position:-126px -250px;
}
#payment_check:before {
	background-position:-126px -90px;
}
#payment_from_account:before {
	background-position:-126px -50px;
}
#payment_from_member_account:before {
	background-position:-126px -50px;
}
#payment_from_loyalty:before {
	background-position:-126px -50px;
}
#payment_suspend_sale:before {
	background-position:-126px -10px;
}
#open_cash_drawer:before {
	background-position:-126px -170px;
}
#override_sale:before {
	background-position:-126px -250px;
}
#sale_details {
    float:right;
    width:100%;
    padding:12px 0px 25px;
    color:#333;
}
.receivings_total #sale_details {
	float:none;
}
#sale_details #sales_items {
    background: url("../images/pieces/subtotals.png") no-repeat scroll left top transparent;
    font-size: 0.7em;
}
.sales #sale_details #sales_items_total {
    background: url("../images/pieces/subtotals2.png") no-repeat scroll left bottom transparent;
    border-top: 1px solid #AAAAAA;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    width: 320px;
}
.receiving #sale_details #sales_items_total {
    background: url("../images/pieces/subtotals_recv.png") no-repeat scroll left top transparent;
    border-bottom: 1px solid #AAAAAA;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0px;
    width: 220px;
}
#sale_details .left {
    height: 20px;
    padding: 0 0 0 10px;
    text-align: left;
    vertical-align: bottom;
    padding-right:10px;
}
#sale_details .right, #amount_due .right {
    height: 20px;
    padding: 0 10px 0 10px;
    text-align: right;
    vertical-align: bottom;
    color:#333;
}
#sale_details #taxes_holder .right {
	width:50px;
}
#register_total {
	font-size:18px;
	font-weight:bold;
}
#sale_details #sales_items_total td {
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
}
#Payment_Types #register {
    background: url("../images/pieces/payments2.png") no-repeat scroll left top transparent;
}
#Payment_Types #register th {
    background: none repeat scroll 0 0 transparent;
    font-size: 0.6em;
    font-weight: normal;
    height: 20px;
}
th#pt_amount {
    border: medium none;
    width:120px;
}
#Payment_Types #register td, #Payment_Types #rainchecks td {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 20px;
    padding-bottom: 0;
    padding-top: 0;
}
td#pt_delete {
    width: 20px;
}
td#pt_delete a {
    background: url("../images/pieces/x.png") no-repeat scroll center center transparent;
    display: block;
    height: 20px;
    text-indent: -9999px;
    width: 20px;
}
td#pt_delete a:hover {
    background: url("../images/pieces/x_red.png") no-repeat scroll center center transparent;
    display: block;
    height: 20px;
    text-indent: -9999px;
    width: 20px;
}
td#pt_amount {
    border: medium none;
    padding-right: 10px;
    text-align: right;
}
#amount_due, #credit_card_payments {
    border-bottom: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
    width: 400px;
}
#amount_due td, #credit_card_payments td {
    background: none repeat scroll 0 0 #FFFF88;
    height: 25px;
    padding: 0 10px;
}
#credit_card_payments td {
	padding:10px;
}
#credit_card_payments td div{
	margin-top:5px;
}
#amount_due .covered td {
    background: none repeat scroll 0 0 #88FF88;
}
#make_payment, #shipping_invoice {
    background: url("../images/pieces/payments2.png") no-repeat scroll left bottom transparent;
    font-size: 0.95em;
    width: 400px;
}
#shipping_invoice {
	padding:5px 0px 10px;
	margin-bottom:10px;
	border-top:1px solid #ccc;
	border-radius:4px;
}
#make_payment_table, #shipping_invoice_table {
    margin: auto;
    width: 400px;
}
#make_payment_table td {
    vertical-align: middle;
}
#mpt_top {
    height: 30px;
}
#mpt_top td {
    vertical-align: middle;
}
#mpt_bottom {
    height: 40px;
}
#mpt_bottom td {
    vertical-align: top;
}
#encrypted_data {
	color:white;
}
#add_payment_button span {
    background: url("../images/pieces/add_payment.png") no-repeat scroll -10px -10px transparent;
    color: #FFFFFF;
    display: block;
    height: 25px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    width: 200px;
    cursor:pointer;
}
a#add_payment_button {
    background: url("../images/pieces/add_payment.png") no-repeat scroll -10px -10px transparent;
    color: #FFFFFF;
    display: block;
    height: 25px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    width: 200px;
    cursor:pointer;
}
#add_payment_button {
    padding-bottom: 10px;
}
#make_payment #tender {
    text-align: center;
}
#make_payment #tender input, #shipping_invoice input {
    border: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
    font-size: 1.2em;
    padding: 2px 5px;
    text-align: right;
    width: 190px;
    margin-top:8px;
}
#invoice_number {
	margin-bottom:5px;
}
#comment_label{
    font-size: 0.75em;
    display:none;
}
textarea#comment{
	width: 220px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #CCCCCC;
	background: none repeat scroll 0 0 transparent;
	min-height: 60px;
	display:none;
}

#finish_sale_button span, #finish_sale_button_2 span{
    background: url("../images/pieces/complete_sale2.png") no-repeat scroll -10px -10px transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    width: 200px;
}
#finish_sale_no_receipt_button span, #finish_sale_no_receipt_button_2 span{
    background: url("../images/pieces/complete_sale2.png") no-repeat scroll -10px -10px transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    width: 200px;
}
#do_not_finish_sale_button span{
    background:url("../images/buttons/buttons.png") no-repeat scroll 10px -170px transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    width: 200px;
}
.complete_sale {
	text-align:center;
	font-size:30px;
	padding:10px 0px;
}
/* Sales */
#suspend_cancel > #suspend{ 
	visibility: hidden; 
}

#suspend_cancel > #cancel{ 
	visibility: hidden;
        width:90%;
}

.reg_item_update input[type="submit"]{
    background: url("../images/pieces/btnUpdate.png") no-repeat top left transparent;
    color: #FFFFFF;
    display: block;
    height: 24px;
	margin: 0 auto;
	border: 0px;
	width: 70px;
    text-align: center;
}
#delete_button, #update_all_button, #cancel{
     background: url("../images/pieces/buttons.png") no-repeat -10px -210px ;
    color: #FFFFFF;
    display: block;
    font-size: 0.7em;
    font-weight: bold;
    height: 31px;
    padding: 7px 0 0 10px;
    width: 160px;
}
#cancel, #delete_button {
    background-position: -10px -170px;
    font-size:12px;
}
#delete_button {
    margin-top:10px;
}
#update_all_button {
    background-position: -10px -290px;
}
#add_payment_text
{
	font-size: .85em;
}
#payment_types
{
    font-size: 1.50em;
}
#Payment_Types 
{
    margin-top:15px;
    padding-bottom:15px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Webkit-specific CSS here */
   .delete_item {
		margin:0px -5px 0px 5px;
	}
}